{% extends "layout.html" %}
{% block content %}
  <div class="box home-page-menu">
  <button class="menu-btn" onclick="location.href='{{ url_for('to_do_list', username=current_user.username) }}'">
    <p>TO DO LIST</p>
    <div class="todo-icon-outer">
    <div class="todo-icon">
      <div class="todo-line">
        <span class="dot"></span>
        <div class="line"></div>
      </div>
      <div class="todo-line">
        <span class="dot"></span>
        <div class="line"></div>
      </div>
      <div class="todo-line">
        <span class="dot"></span>
        <div class="line"></div>
      </div>
    </div>
    <div>
  </button>

  <button class="menu-btn" onclick="location.href='{{ url_for('pomodromo') }}'">
    <p>POMODROMO</p>
    <div class="clock">
      <div class="inner-face">  
        <div class="clock-hand hour"></div>
        <div class="clock-hand minute"></div>
      </div>
    </div>
  </button>

  <button class="menu-btn" onclick="location.href='{{ url_for('resources') }}'">
    <p>RESOURCES</p>
    <div class="resources-icon">
      <div class="res-block short1"></div>
      <div class="res-block short2"></div>
      <div class="res-block short3"></div>
      <div class="res-block short4"></div>
    </div>
  </button>

  <button class="menu-btn" onclick="location.href='{{ url_for('calendar') }}'">
    <p>CALENDAR</p>
    <div class="outer-calendar-icon">
    <div class="calendar-icon">
      <div class="row">
        <div class="cell"></div><div class="cell"></div><div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div><div class="cell"></div><div class="cell"></div>
      </div>
      <div class="row">
        <div class="cell"></div><div class="cell"></div><div class="cell"></div>
      </div>
    </div>
    </div>
  </button>
 </div>
 <div class="home-page-user-btns">
 {% if current_user.is_authenticated %}
    <button class="user-btn" onclick="location.href='{{ url_for('logout') }}'">LOGOUT</button>
    <button class="user-btn" onclick="location.href='#'">ACCOUNT</button>
  {% else %}
    <button class="user-btn" onclick="location.href='{{ url_for('login') }}'">LOGIN</button>
    <button class="user-btn" onclick="location.href='{{ url_for('register') }}'">REGISTER</button>
  {% endif %}
 </div>
{% endblock %}