<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googSleapis.com/css2?family=Sue+Ellen+Francisco&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="box to-do-box">
        <p class="to-do-list-heading">TO DO LIST</p>
        <form>
            <input class="todo-tab" type="text" id="todo1" placeholder="Enter task">
            <button class="add-todo-btn" type="submit">ADD</button>
        </form>
    </div>
</body>
</html>