<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googSleapis.com/css2?family=Sue+Ellen+Francisco&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Resources Link Hub</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="box resource-hub-box">
    <div class="resource-header">
    <p class="resource-heading">RESOURCES</p>
    <button class="plus-btn">&plus;</button>
    </div>
      <form class="resource-box">
        <input class="resource-title" type="text" id="resource" placeholder="Enter title">
        <textarea class="resource-link" id="resource1" placeholder="Enter link"></textarea>
      </form>
  </div>
</body>
</html>